{
  "name" : "ops_no_op",
  "description" : "This is no operation",
  "ops" : [
    {
      "type" : 2,
      "system_op" : {},
      "method": "NoOp",
      "params": [
        "dummy"
      ]
    }
  ]
}
